.d{
    padding: 100px 100px 30px;
    border: 3px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 9px;
    width: 300px;
    height: 430px;
    margin-left: 500px;
    margin-top: 180px;
}
img{
    border-radius: 100px;
    height:60px ;
    margin-left: 120px;
    margin-top: -40px;
}
input{
    width: 450px;
    margin-left: -80px;
    border-radius: 8px;
    height: 30px;
    border: 1px solid black;
}
button{
    background-color: rgb(39, 183, 239);
    color: white;
    width: 456px;
    margin-left: -80px;
    border-radius: 8px;
    height: 40px;
    border: 1px solid rgb(39, 183, 239);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}