
.head{
    padding: 10px;
    background-color: rgb(65, 46, 46);
    color: rgb(232, 220, 141);
}
.head,p{
    color: rgb(232, 220, 141);
    margin-top: -10px;
}
.lis,h1{
    color: rgb(65, 46, 46);
    font-size: 50px;
    margin-left: 280px;
    margin-top: 5px;
}

footer{
    padding: 90px;
    background-color:rgb(65, 46, 46) ;
}
footer,p{
    color: rgb(232, 220, 141);
    margin-left: 1px;
    font-size: 25px;
    margin-top: 10px;
 
}
button{
    background-color: rgb(65, 46, 46);
    color:rgb(232, 220, 141) ;
    padding: 18px;
    width: 250px;
    font-size: 20px;
    border-radius: 100px;
    margin-top: -100px;
    margin-left: 350px;
    font-family: 'Times New Roman', Times, serif;
}
